.main {
  display: flex;
  justify-content: center;
  justify-items: center;
  /* border: 10px solid yellow; */
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-container {
  display: grid;
  grid-template-columns: 3fr 3fr 5fr;
  grid-template-rows: 3fr 4fr 5fr;
  /* border: 3px solid black; */
  background-color: gray;
  width: 900px;
  height: 600px;
  grid-row-gap: 13px;
  grid-column-gap: 13px;
}
.box1 {
  display: grid;
  /* border: 3px solid green; */
  width: auto;
  height: auto;
  background-image: url("../../assets/img/Jeff.jpg");
  /* background-size: contain; */
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.box2 {
  display: grid;
  /* border: 3px solid green; */
  width: auto;
  height: auto;
  background-image: url("../../assets/img/Marissa.jpg");
  /* background-size: contain; */
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.box3 {
  grid-row: 1/3;
  grid-column: 3/4;
  height: auto;
  width: auto;
  /* border: 3px solid green; */
  background-image: url("../../assets/img/Mark.jpg");
  /* background-size: contain; */
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.box4 {
  grid-row: 2/3;
  grid-column: 1/3;
  width: auto;
  height: auto;
  /* border: 3px solid green; */
  background-image: url("../../assets/img/satya.jpg");
  /* background-size: contain; */
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.box5 {
  grid-column: 1/3;
  width: auto;
  height: auto;
  /* border: 3px solid green; */
  background-image: url("../../assets/img/sundhar.jpg");
  /* background-size: contain; */
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.box6 {
  grid-column: 3/4;
  width: auto;
  height: auto;
  /* border: 3px solid green; */
  /* background-size: contain; */
  background-size: 100% 100%;
  background-image: url("../../assets/img/Tim.jpg");
  background-repeat: no-repeat;
}

img {
  width: 100%;
  height: 100%;
  /* border: 3px solid green; */
}
